<div class="contextual">
  <%= link_to l(:button_split), '', :class => 'icon icon-edit' %>
  <%= link_to l(:button_complete), '', :class => 'icon icon-time-add' %>
  <%= link_to l(:button_delete), '', :data => {:confirm => 'issues_destroy_confirmation_message(@issue)'}, :method => :delete, :class => 'icon icon-del' %>
</div>
