<table>
  <tbody>
    <th><%= l(:label_tocat_server_address) %></th>
      <td>
        <input type="text" id="host" value="<%= @settings['host'] %>" name="settings[host]" >
      </td>
      <span><%= l(:label_host_change) %></span>
  </tbody>
</table>


<% html_title(l(:label_settings), l(:label_tocat_client)) -%>
