<h3 class="title"><%= l(:label_select_invoice) %></h3>
<form id = "new_invoice">
  <div class='invoice_selector'>
    <p>
      <%= label_tag 'invoices', l(:label_select_invoice) %>
      <%= select_tag "invoices", options_from_collection_for_select(@invoices, "id", "external_id"), include_blank: true %>
    </p>
  </div>
  <p class="buttons">
    <%= submit_tag l(:button_close), :name => nil, :onclick => "hideModal();return false;", :type => 'button' %>
    <input required="" type="submit" name="submit" id="submit" value="Save">
    <%#= submit_tag l(:button_save), :name => nil, :onclick => "createBudget();return false;", :type => 'button' %>
  </p>
</form>
