<% if activity.recipient.present? %>
  <li><strong>Ivoice</strong> set to <i><%= link_to activity.recipient.external_id, invoice_path(activity.recipient.id) %></i></li>
<% else %>
  <li><strong>Invoice</strong> <i><%= link_to activity.parameters['invoice_external_id_was'], invoice_path(activity.parameters['invoice_id_was'])  %> deleted</i></li>
<% end %>
