<li><%= link_to activity.parameters['invoice_external_id'], invoice_path(activity.parameters['invoice_id'])  %> <strong>paid</strong> changed from <i><%= activity.parameters['old'] %></i> to <i><%= activity.parameters['new'] %></i></li>
