<h4>Generated at: <%= Time.parse(@report['timestamp']) %></h4>

<div class = "problemsContainer"  style = "height: 300px">
  <div class="autoscroll">
    <table class="list problems">
      <tbody>
        <% @report['messages'].each do |message|%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= message %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
